backend/workflows/2_AI_WhatsApp_Responder.json
{
    "name": "2_AI_WhatsApp_Responder",
    "active": true,
    "nodes": [
        {
            "parameters": {
                "path": "whatsapp-webhook",
                "httpMethod": "={{$request.method}}",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "WhatsApp Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                260,
                300
            ],
            "webhookId": "whatsapp-webhook"
        },
        {
            "parameters": {
                "jsCode": "const query = $input.item.json.query || {};\nconst body = $input.item.json.body || {};\n\n// Verification request?\nif (query['hub.mode'] === 'subscribe') {\n  if (query['hub.verify_token'] === 'resto123') {\n    return { json: { type: 'verification', challenge: query['hub.challenge'] } };\n  } else {\n    return { json: { type: 'invalid_token' } };\n  }\n}\n\n// Check for message\nconst entry = body.entry?.[0];\nconst change = entry?.changes?.[0];\nconst value = change?.value;\nconst message = value?.messages?.[0];\n\nif (!message) {\n  return { json: { type: 'no_message' } };\n}\n\nconst contact = value.contacts?.[0];\n\nreturn {\n  json: {\n    type: 'message',\n    phone_number_id: value.metadata?.phone_number_id || '904426252753907',\n    customer_phone: message.from,\n    customer_name: contact?.profile?.name || 'Müşteri',\n    message_id: message.id,\n    message_type: message.type,\n    message_text: message.text?.body || message.interactive?.button_reply?.title || '',\n    timestamp: message.timestamp\n  }\n};"
            },
            "name": "Process Request",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                480,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.type }}",
                            "rightValue": "verification",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "Is Verification?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ $json.challenge }}",
                "options": {
                    "responseCode": 200
                }
            },
            "name": "Return Challenge",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                920,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.type }}",
                            "rightValue": "message",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "name": "Is Message?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                920,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\": \"received\"}",
                "options": {
                    "responseCode": 200
                }
            },
            "name": "Acknowledge",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                920,
                600
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://graph.facebook.com/v18.0/904426252753907/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer EAAT5BQ39Nc0BQDu2Y9hXeBp4srXAXWgVbOuUisPp7aZBvMzZCcA84ZCeIDAwYA0g36tKkuEE98nGDNZAoiC5oSr7K6nMZB3sboi0gnAzkVSmWMjnTh2ZBgOyW5aitazqWzUopIZBsnIC3Fxmn5w3CEZAWY1zKNzTsf1xyPGKZCw2UFBkKAyHpZAZAVgUaZCxJYOHq4ysYPgcW48cRjNZCYdysVJ3CaYUVvC09H8XzV79YmbzvSQpfhgL6VqSG2UFOcIYvfIU9nJbvmewickCMvyYZCIZCAlMD00ZCZCZAPi7kZD"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.customer_phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"Merhaba {{ $json.customer_name }}! 👋\\n\\nLezzet Dünyası'na hoş geldiniz!\\n\\n📋 *Menü* için 'menü' yazın\\n🛒 *Sipariş* vermek için ürün adını yazın\\n📞 *Yardım* için 'yardım' yazın\\n\\nSize nasıl yardımcı olabilirim?\"\n  }\n}",
                "options": {}
            },
            "name": "Send WhatsApp Reply",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1140,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\": \"sent\"}",
                "options": {
                    "responseCode": 200
                }
            },
            "name": "Respond OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1360,
                300
            ]
        }
    ],
    "connections": {
        "WhatsApp Webhook": {
            "main": [
                [
                    {
                        "node": "Process Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Request": {
            "main": [
                [
                    {
                        "node": "Is Verification?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Verification?": {
            "main": [
                [
                    {
                        "node": "Return Challenge",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Is Message?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Message?": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp Reply",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Acknowledge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send WhatsApp Reply": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}