backend/workflows/6_Customer_Retention.json
{
    "name": "6_Customer_Retention",
    "active": false,
    "versionId": "66666666-6666-6666-6666-666666666666",
    "nodes": [
        {
            "parameters": {
                "triggerTimes": {
                    "item": [
                        {
                            "hour": 10
                        }
                    ]
                }
            },
            "name": "Daily Cron",
            "type": "n8n-nodes-base.cron",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM customers WHERE EXTRACT(MONTH FROM birth_date) = EXTRACT(MONTH FROM CURRENT_DATE) AND EXTRACT(DAY FROM birth_date) = EXTRACT(DAY FROM CURRENT_DATE)"
            },
            "name": "Find Birthdays",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://graph.facebook.com/v17.0/{{ $env.WHATSAPP_PHONE_ID }}/messages",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.WHATSAPP_TOKEN }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "messaging_product",
                            "value": "whatsapp"
                        },
                        {
                            "name": "to",
                            "value": "={{ $json.phone }}"
                        },
                        {
                            "name": "type",
                            "value": "text"
                        },
                        {
                            "name": "text",
                            "value": "={{ {\"body\": \"🎂 Doğum gününüz kutlu olsun \" + $json.name + \"!\\n\\nBugüne özel %20 İndirim Kuponunuz: DOGUMGUNU (Bu mesajı kasaya gösterin)\"} }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Send Coupon",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        }
    ],
    "connections": {
        "Daily Cron": {
            "main": [
                [
                    {
                        "node": "Find Birthdays",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Find Birthdays": {
            "main": [
                [
                    {
                        "node": "Send Coupon",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}